.main {
    position: relative;
width: 390px;
height: 1844px;
overflow-y: scroll;
background-color: aqua;
}

.profiletop {
position: absolute;
width: 390px;
height: 80px;
left: 0px;
top: 0px;
}

.profilename {
    position: absolute;
width: 390px;
height: 80px;
left: 0px;
top: 0px;

}

.profilename {
position: absolute;
left: 32.31%;
right: 32.31%;
top: 4.91%;
bottom: 92.82%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.015em;

color: #000000;
}